body {
  background:#000;
  color:#0f0;
  font-family: Arial;
}

.header {
  text-align:center;
  padding:15px;
}

.onza {
  font-size:42px;
  font-weight:bold;
}

.fila {
  display:flex;
  justify-content:space-between;
  padding:12px;
  border-bottom:1px solid #222;
}
