body {
  background:#000;
  color:#fff;
  font-family: Arial, sans-serif;
  padding:20px;
  max-width:700px;
  margin:auto;
}

h1,h2,h3 {
  text-align:center;
  color:#f5c542;
}

select, input, button {
  width:100%;
  padding:12px;
  margin:10px 0;
  font-size:16px;
  border-radius:6px;
  border:none;
}

button {
  background:#f5c542;
  font-weight:bold;
  cursor:pointer;
}

.resultado {
  font-size:28px;
  text-align:center;
  margin-top:15px;
  color:#00ff99;
}
